.container {
  width: 24vw;
  margin: 24vh 72vh;
  padding: 60px;
  color: #ffffff;
  border: 1px solid #0a2d5b;
  border-radius: 5px;
  background-color: #0a1928; 
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formGroup {
    margin: 10px;
    width: 80%;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submitBtn {
    width: 50%;
    margin-top: 2%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #3c6dbc;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
  
  .errorMsg {
    color: red;
    font-weight: bold;
  }

  .actions a{
    text-align: center;
    margin-top: 15px;
    color: rgb(0, 140, 255);
  }