.container {
  width: 24vw;
  margin: 24vh 72vh;
  padding: 60px;
  color: #ffffff;
  border: 1px solid #0a2d5b;
  border-radius: 5px;
  background-color: #0a1928; 
}

.container h1{
  margin: 0 0 20px;
  text-align: center;
  font-weight: 700;
  font-size:190%;
  padding-bottom: 9%;
}
.container .input_group {
  margin-bottom: 15px;
}

.container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.container input[type="email"],
.container input[type="password"] {
  width: 95%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container .actions {
  /* margin-top: 15px; */
}

.container button[type="submit"] {
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container button[type="submit"]:hover {
  background-color: #0056b3;
}

.container .error {
  color: red;
  margin-top: 10px;
}

.container .forgot_password {
  margin-top: 10px;
}

.container a {
  color: #007bff;
  text-decoration: none;
}

.container a:hover {
  text-decoration: underline;
}
